/* Write your CSS here */
.main-container {
  background-color: #000000;
  min-height: 100vh;
}
.header-img {
  width: 100%;
}
.sub-container{
    width: 90%;
    margin-bottom: 40px;
    margin: auto;
}
.movies-heading{
    font-family: 'Roboto';
    font-size:20px;
    color: #ffffff;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 1.3;
}
@media screen and (min-width:1200px){
    .sub-container{
        max-width: 1110px;
    }
    .movies-heading{
        font-size: 32px;
    }
}